<div class="comments">
	<p>
		<strong> <%= comment.name %> </strong>
	</p>

	<p>
	<strong> <%= comment.body %> </strong>	
	</p>

	<%= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" } %>
</div>