<header class="intro-header header4">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">
							<em>Keep in mind I'm an artist and I'm sensitivie about my shit.</em>
							<p>
								Erykah Badu
							</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>


     <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>I am a wonderer, a traveler and a dreamer. I write in English, Ruby and JavaScript, and the occasional Lorem ipsum. My words aren't poetry and they rarely rhyme.</p>
                <p>I'm from Brooklyn. Like 80's and 90's Brooklyn, not the gluten free one it is today.</p>
                <p>I code because I like to create. You can't just be a dreamer, you have to make a dream come true. This is what I'm doing. I'm a creator. I'm an artist. This is my canvas.</p>
                <p>Trick question: <em>Who are the 5 best rappers of all time?? Think about it!</em> </p>
            </div>
        </div>
    </div>